# Output
build/
release/
# Rust
target/
# Packaged VS Code Extension
.vsix

# Npm
node_modules/
/.pnp
.pnp.js

# Python
__pycache__

# VS Code
.vscode

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Binary files
*.tar.gz
bin
